<launch>
    <arg name="info" default="/r2/head/prosilica/left_scaled/camera_info" />
    <arg name="image" default="/r2/head/prosilica/left_scaled/image_rect_color" />

    <node pkg="blort_ros" type="learnsifts" name="blort_learnsifts" args="$(find blort_ros)" output="screen">
        <remap from="/blort_camera" to="$(arg info)" />
        <remap from="/blort_image" to="$(arg image)" />
    </node>

</launch>

